apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-html
data:
  index.html: |
    <!DOCTYPE html>
    <html>
    <head>
      <title>Hello World</title>
    </head>
    <body>
      <h1>Hello World for digitalxc</h1>
      <p>Deployed using k3s + GitHub Actions</p>
    </body>
    </html>
